@font-face {
    font-family: 'catalogueregular';
    src: url('../fuentes/catalogue-webfont.woff2') format('woff2'),
         url('../fuentes/catalogue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meriendaregular';
    src: url('../fuentes/merienda-regular-webfont.woff2') format('woff2'),
         url('../fuentes/merienda-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'league_spartanthin';
    src: url('../fuentes/leaguespartan-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fuentes/leaguespartan-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

                    /*/////////////////////////////////////////// ESTILOS COMUNES ////////////////////////////////////////////*/
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrap_principal {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
}

.cabecera_general {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 auto;
    background-color: #197783;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 200;
    max-width: 100%;
}

.wrap_logo_restaurante {
    padding: 0;
    margin: 0;
    width: 15%;
}

#logo_restaurante {
    width: 50%;
    padding: 0.5em 1em;
    margin: 0;
}

.banderas {
    display: flex;
    justify-content: space-around;
    flex: 0 0 10%;
}

.bandera img{
    width: 1.75em;
}

.titulo_h1_rest {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_h1_rest h1{
    font-family: 'catalogueregular';
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
    padding: 0.25em;
    font-size: 2em;
    text-align: center;
    border: solid 4px #197783;
    border-radius: 15%;
}

main {
    background-color: whitesmoke;
}
/* navegador desplegable */

#flecha {
    font-size: 10px;
    vertical-align: top;
}

nav{
    display: flex;
    width: 60%;
    align-self: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    background-color: #197783; 
    margin: 0;
    padding: 0;
    
    
}

nav li {
    display: inline-block;
    border-radius: 15%;
    margin-left: 2em;
    
}

nav li a {
    display: inline-block;                          
    text-decoration: none;
    color: white;
    font-family: 'league_spartanthin';
    padding: 12px 20px;
    font-weight: bold;
    
}

nav li:hover {
    background-color: #22b78f;
}

.div_desplegable{
    background-color: #197783; 
    box-shadow: 5px 8px 25px 0px rgba(0,0,0, 0.2);
    position: absolute;
    display: none;
    border-radius: 12%;
    
}

.div_desplegable a {
    padding: 9px 15px;
    color: white;
    display: block;
    border-radius: 15%;
}

.div_desplegable a:hover {
    background-color: #22b78f;
}

.li_desplegable:hover .div_desplegable{
    display: block;
    
}

.pag_activa {
    background-color: #22b78f;
    border-radius: 15%;
}

/* navegador desplegable */

/* footer*/

.footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
    background-color: #197783;
    font-family: 'league_spartanthin';
}

.wrap_logo_euskolabel {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10%;
    padding: 0;
    margin: 0;
}

.euskolabel {
    width: 90%;
}

.wrap_texto1_footer  {
    flex: 0 0 25%; 
}

.wrap_texto1_footer p{
    padding: 0;
    color: white;
    line-height: 20px; 
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrap_texto2_footer {
    flex:0 0 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap_texto2_footer p{
    text-align: center;
    color: white;
    font-size: 0.95em;
}

.wrap_rrss_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20%;
    
}

.twitter, .fb, .instagram {
    padding: 3px;
    width: 10%;
}

.rrss {
    display: flex;
    text-decoration: none;
    color: white;
    padding-left: 3em;
}

.rrss p {
    margin: 0;
    padding-top: 8px;
    padding-left: 5px;
}

.vuelta_inicio {
    position: fixed;
    bottom: 6em;
    right: 2em;
    padding: 0.75em;
    opacity: 0.6;

}

.vuelta_inicio a{
    text-decoration: none;
    font-family: 'league_spartanthin';
    font-weight: bold;
    border: ridge 4px #197783;
    border-radius: 15%;
    padding: 0.em; 
    font-size: 2em;
    font-weight: bolder;
    background-color: whitesmoke;
    color: black;
}

.vuelta_inicio a:hover {
    background-color: #22b78f;
    color: white;
   
}
.vuelta_inicio:hover {
     opacity: 1;
}
/*/////////////////////////////////////////// FIN ESTILOS COMUNES ////////////////////////////////////////////*/

/*//////////////////////////////////////////inicio.html/////////////////////////////////////////*/

#contenedor_inicio {
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/comedor2-restaurante-vitoria.jpg);
    background-size: cover;
}

#wrapper_inicio {
    display: flex;
    margin-top: 2em;
    height: 50em;
    justify-content: flex-start;
    align-items: center;
    
}

#texto_inicio {
    width: 40%; 
    background-color: rgba(240, 248, 255, 0.8);
    margin-left: 6em;
    border: ridge 4px #197783;
    margin-bottom: 12em;
}

#subtitulo_inicio {
    width: 85%;
    margin: 0;
    padding-left: 2.5em;
    padding-top: 1em;
    margin-bottom: 1em;
    font-family: 'meriendaregular';
    
}
#subtitulo_inicio h2 {
    border-bottom: solid 2px #22b78f;
}

#texto_inicio p {
    padding: 0 2em;
    margin-bottom: 2em;  
    font-family: 'league_spartanthin';
    font-weight: bold;
    line-height: 1.2em;
}


/*//////////////////////////////////////////inicio.html/////////////////////////////////////////*/


/*//////////////////////////////////////////filosofia.html/////////////////////////////////////////*/

#monte {
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/fondo_huerta.png);
    background-size: cover;
    width: 100%;
    height: 55em;   
}

section #titulo1_h2 {
    padding: 1em 1em;
    margin-top: 3.5em;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-top: ridge 4px #22b78f;
    border-bottom: ridge 4px #22b78f;
    font-family: 'meriendaregular';
}

#wrap_huerta, #wrap_pesca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    height: 85%;
    margin: auto;
}

#imagen_huerta {
    padding: 0px;
    margin: 0px;
    margin-top: 6em;
    width: 60%;   
}

#huerta {
    width: 80%;
    border: ridge 4px #22b78f;
}

#wrap_texto_huerta {
    margin-top: 7em;
    background-color: rgba(240, 248, 255, 0.7);
    width: 60%;
    border: ridge 4px #22b78f;
    padding: 15px;
    font-family: 'league_spartanthin';
}

#wrap_texto_huerta p {
    padding: 0.5em;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;  
}

#pesca {
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/fondo_puerto.png);
    background-size: cover;
    width: 100%;
    height: 50em;
}

section #titulo2_h2 {
    padding: 1em 1em;
    margin-top: 3.5em;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-top: ridge 4px #197783;
    border-bottom: ridge 4px #197783;
    font-family: 'meriendaregular';
}

#imagen_puerto {
    padding: 0px;
    margin: 0px;
    margin-top: 6em;
    width: 60%;
    text-align: right;
}

#puerto {
    width: 80%;
    border: ridge 4px #197783;
}

#wrap_texto_pesca {
    margin-top: 7em;
    background-color: rgba(240, 248, 255, 0.7);
    width: 60%;
    border: ridge 4px #197783;
    padding: 15px;
    font-family: 'league_spartanthin';
    
}

#wrap_texto_pesca p{
    padding: 0.5em;
    color: black;
    font-size: 1.2em;
    font-weight: bold; 
    line-height: 1.2em;
}

/*//////////////////////////////////////////filosofia.html/////////////////////////////////////////*/

/*///////////////////////////////////////////carta.html/////////////////////////////////////////*/

#header_carta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 125px;
    background-color: #197783;
    padding: 0;
}

#cabecera_carta {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50em; 
    background-image: url(../imagenes/cochinillo_pina.jpg);
    background-size: cover;
}


#subnav_carta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(25, 119, 131, 0.7);
}

#subnav_carta a{
    text-decoration: none;
    font-family: 'league_spartanthin';
    font-weight: bold;
    border: ridge 4px #197783;
    border-radius: 15%;
    padding: 0.5em; 
    font-size: 1.25em;
    font-weight: bolder;
    background-color: whitesmoke;
    color: black;
}

#subnav_carta a:hover {
    background-color: #22b78f;
    color: white;
}

#wrap_texto_cabecera {
    display: flex;
    flex-direction: column; 
    width: 40%;
    height: 14em;
    border: ridge 2px #22b78f;
    background-color: rgba(245, 245, 245, 0.85);
    margin: 5em 3em;
    padding: 1em;
}

#wrap_texto_cabecera p {
    font-family: 'league_spartanthin';
    font-weight: 600;
    margin-top: 0.5em;
    font-size: 1.2em;
    line-height: 1.2em;
}

#subtitulo_carta {
    
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-top: ridge 4px #22b78f;
    border-bottom: ridge 4px #22b78f;
    font-family: 'meriendaregular';
    margin-top: 5em;
}

#subtitulo_carta h2{
    margin: 0;
    padding: 1em 1em;
}

#wrap_carta h2{
    font-size: 1.6em;
    font-family: 'meriendaregular';
    font-weight: bold;
    border-bottom: #22b78f ridge 2px;
}


#wrap_carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#ancla_entrantes, #ancla_carnes, #ancla_pescados, #ancla_postres, #ancla_degus, #espaciado_final {
    width: 100%;
    height: 3.5em;
}

#degus {
    align-items: center;
    margin-bottom: 2em;
}

#degus a{
    text-decoration: none;
    color: black;
}


#descripcion_degus{
    width: 100%;
}

#degus div h2 {
    font-size: 2em;
    font-family: 'meriendaregular';
    font-weight: bold;
    border-bottom: #22b78f ridge 2px;
}

h2 span {
    font-size: 0.75em;
}

#degusta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#degusta h3 {
    font-size: 1.5em;
    font-family: 'catalogueregular';
    font-weight: 100;
    border-bottom: #22b78f ridge 2px; 
}

#degusta h3:hover {
     border-bottom: #1c5f4d ridge 2px; 
}

#degus p {
    font-size: 1.1em;
    font-family: 'league_spartanthin';
}

#degus div p {
    line-height: 1.2em;
}

#entrantes, #carnes, #pescados, #postres, #degus {
    display: flex;
    flex-direction: column;
    width: 90%;   
}

section #degusta h2 {
    font-size: 2em;
    font-family: 'meriendaregular';
    border-bottom: #22b78f ridge 2px;
}

section article p {
    font-family: 'league_spartanthin';
    font-weight: 600;
    font-size: 1.2em;
}

/*///////////////////////////////////////////carta.html/////////////////////////////////////////*/

/*///////////////////////////////////////////galeria.html///////////////////////////////////////*/
#contenedor_galeria {
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/decoracion-restaurante-vitoria.png);
    background-size: cover;
}

#wrapper_entorno{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

#texto_entorno {
    width: 40%;
    max-width: 100%;
    border: ridge 6px #197783;
    padding: 1em 1em;
    font-family: 'league_spartanthin';
    font-weight: 600;
    margin-top: 0.5em;
    font-size: 1em;
    line-height: 1.2em;
    background-color: rgba(255, 255, 255, 0.7);
}



#titulo_entorno, #titulo_platos  {
    font-family: 'meriendaregular';
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-top: ridge 4px #22b78f;
    border-bottom: ridge 4px #22b78f;
    font-family: 'meriendaregular';
    margin-top: 5em; 
}

#titulo_entorno h2{
    margin: 0;
    padding: 1em 1em;
}

#titulo_platos  h2 { 
    margin: 0;
    padding: 1em 1em;
}

#wrapper_platos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#texto_platos {
    max-width: 40%;
    border: ridge 6px #197783;
    padding: 1em 1em;
    font-family: 'league_spartanthin';
    font-weight: 600;
    margin-bottom: 3em;
    font-size: 1em;
    line-height: 1.2em;
    flex: 0 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
}




/*//////////// Visor Galeria Restaurante////////////////*/

@keyframes animacion-slider {
	0% {left: 0px;}
    10% {left: -500px;}
    25% {left: -500px;}
    35% {left: -1000px;}
    50% {left: -1000px;}
    60% {left: -1500px;}
    75% {left: -1500px;}
    85% {left: -2000px;}
    100% {left: -2000px;}
}

#visor_restaurante {
    position: relative;
    width: 500px;
    height: 322px;
    margin-top: 5em;
    
    border: ridge 6px #197783;
    border-radius: 15px;
    overflow: hidden;

}
#slider {
    width: 2500px;
    position: absolute;
    left: 0;
    z-index: 0;
    animation-name: animacion-slider;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 8s;
}

#slider img {
    width: 500px;
    height: 322px;
    margin: 0;
    padding: 0;
}

/*//////////// Visor Galeria Restaurante ///////////////*/


/*//////////// Visor Galeria Platos ////////////////////*/

.deslizador {
    position: realtive;
    width: 500px;
    height: 322px;
    border: ridge 6px #197783;
    border-radius: 15px;
    padding: 0; 
    margin-top: 5em;
    margin-bottom: 5em;
    overflow: hidden;
    
}

/*/////////////////* Deslizantes ////////////////////////*/

.deslizador li {
    list-style:none;
    position: absolute;
}

.deslizador input {
    display: none;
}

/*/////////////////// Navegación /////////////////////*/

.deslizador label {
    display: block;
    width: .5em;
    height: .5em;
    position: absolute;
    bottom: .5em;
    left: 0;
    z-index: 10;
    visibility: hidden;
    cursor: pointer;
    background-color: white;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: solid .3em  black;
    border-radius: 100%;
    opacity: 0;
    transition: .35s;
}

.deslizador label:after {
    position: absolute;
    bottom: -.2em;
    left: -.2em;
    right: -.2em;
    top: -.2em;
    border-radius: 100%;
    box-shadow: inset 0 0 0 .2em white,
                inset 0 2px 2px white,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    
}

/*/////////////// Control de botones de selección de imagen mediante inputs ////////////////////*/

.deslizador:hover label {
    opacity: 1;
    visibility: visible;
}

.deslizador input:checked + label {
    background-color: #111;
}

.deslizador:hover li:nth-child(1) label {
    left: 13em;
}

.deslizador:hover li:nth-child(2) label {
    left: 14.5em;
}

.deslizador:hover li:nth-child(3) label {
    left: 16em;
}

.deslizador:hover li:nth-child(4) label {
    left: 17.5em;
}

/*/////////////// Control de botones de selección de imagen mediante inputs ////////////////////*/

/* ////////////////////////////////////////Imagenes ////////////////////////////////////////////*/

.deslizador img {
    resize: both;
    width: 500px;
    height: 322px;
    opacity: 0;
    transition: .25s;
    visibility: hidden;
    border-radius: 10px;
    padding: 0;
}

.deslizador p {
    position: absolute;
    visibility: hidden;
    bottom: .8em;
    color: black;
    margin-left: .7em;
    font-family: 'league_spartanthin';
    background-color: rgba(255, 255, 255, 0.7);
    transition: .25s;
    opacity: 0;
}

.deslizador li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    transition: 1.5s;
}
.deslizador li input:checked ~ p {
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transition: 1.5s;
}

/*////////////////////////equipo.html////////////////////////*/
#contenedor_equipo {
    display: flex;
    flex-direction: column;
}

#titulo_equipo, #titulo_fundador {
    font-family: 'meriendaregular';
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-top: ridge 4px #22b78f;
    border-bottom: ridge 4px #22b78f;
    font-family: 'meriendaregular';
    margin-top: 5em; 
}

#titulo_equipo h2{
    margin: 0;
    padding: 1em 1em;
}

#titulo_fundador h2{
    margin: 0;
    padding: 1em 1em;
} 

#wrapper_fundador {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#texto_fundador {
    width: 40%;
    border: solid 6px #197783;
    padding: 1em 1em;
    font-family: 'league_spartanthin';
    font-weight: 600;
    margin-top: 2em;
    font-size: 1em;
    line-height: 1.2em;
    flex: 0 0 auto;
}

#texto_fundador p{
    padding: 0.5em;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;  
}

#imagen_chef {
    width: 30%;
    margin-top: 5em;
    margin-right: 2em;
}

#imagen_chef img{
    padding: 0 ;
    margin: 0;
    width: 100%;
    height: 100%;
    border: ridge 6px #197783;
}

#wrapper_equipo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

#imagen_equipo {
    width: 30%;
    margin: 5em 2em;
    
}

#imagen_equipo img{
    padding: 0 ;
    margin: 0;
    width: 100%;
    height: 100%;
    border: ridge 6px #197783;
}

#texto_equipo {
   width: 40%;
    border: solid 6px #197783;
    padding: 1em 1em;
    font-family: 'league_spartanthin';
    font-weight: 600;
    margin-top: 2em;
    font-size: 1em;
    line-height: 1.2em;
    flex: 0 0 auto;
}

#texto_equipo p{
    padding: 0.5em;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;  
}

/*//////////////////////////////////// Reserva.html//////////////////////////////////////*/

#vitoria{
    background-image:url(../imagenes/vitoria.png);
    background-size: cover;
}

#ubicacion {
    display: flex;
    flex-direction: column;
}

#subtitulo_ubicacion {
    font-family: 'meriendaregular';
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-top: ridge 4px #22b78f;
    border-bottom: ridge 4px #22b78f;
    font-family: 'meriendaregular';
    margin-top: 5em;  
}

#subtitulo_ubicacion h2 {
    margin: 0;
    padding: 1em 1em;
}

#wrapper_ubicacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#texto_ubicacion p{
    padding: 0 1em;
    margin-bottom: 2em;  
    font-family: 'league_spartanthin';
    font-weight: bold;
    line-height: 1.2em;
}

#texto_ubicacion {
    width: 30%;
    margin-left: 7em;
    margin-right: 10em;
    margin-top: 3em;
    margin-left: 6em;
    border: ridge 4px #197783;
    background-color: rgba(255, 255, 255, 0.8);
}

#mapa {
    margin-top: 5em;
}

#formulario {
    display: flex;
    margin-top: 5em;
    margin-bottom: 5em;
    justify-content: space-around;
}


#calendario {
    
}

#formu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

#formu form{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: rgba(240, 248, 255, 0.8);
    padding: 1em;
}

#formu label {  
    font-family: 'league_spartanthin';
    font-weight: bold;
    line-height: 1.2em;
} 

[type="text"] {
    width: 100%;
    border: solid 2px #aaa;
    border-radius: 5px;
    margin: 8px 0px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    padding-left: 40px;
    margin-bottom: 1.5em;
}
[type="email"] {
    width: 100%;
    border: solid 2px #aaa;
    border-radius: 5px;
    margin: 8px 0px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    padding-left: 40px;
    margin-bottom: 1.5em;
}

[type="tel"] {
    width: 100%;
    border: solid 2px #aaa;
    border-radius: 5px;
    margin: 8px 0px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    padding-left: 40px;
    margin-bottom: 1.5em;
} 

.div_input {
    position: relative;
}

.div_input i{
    position: absolute;
    left: 0px;
    top: 6px;
    padding: 9px 8px;
    color: #aaa;
}

[type="text"]:focus {
    border-color: darkcyan;
    box-shadow: 0 0 8px darkcyan;
}

[type="text"]:focus + i {
    color: darkcyan;
}

[type="email"]:focus {
    border-color: darkcyan;
    box-shadow: 0 0 8px darkcyan;
}

[type="email"]:focus + i {
    color: darkcyan;
}

[type="tel"]:focus {
    border-color: darkcyan;
    box-shadow: 0 0 8px darkcyan;
}

[type="tel"]:focus + i {
    color: darkcyan;
}


textarea {
    resize: none; 
    margin-bottom: 1.5em;
    border: solid 2px #aaa;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

textarea:focus {
    border-color: darkcyan;
    box-shadow: 0 0 8px darkcyan;
}

#formu p {
    padding: .5em;
    background-color: rgba(240, 248, 255, 0.8);
}

#formu span {
    color: red;
}

[type="submit"]{
    width: 20%;
    padding: 0;
    padding: .4em 0;
    border: solid 2px #197783;
    border-radius: 15%;
    align-self: center;
    margin-bottom: 1em;
}

[type="reset"]{
    width: 30%;
    padding: .4em 0;
    border: solid 2px #197783;
    border-radius: 15%;
    align-self: center;
}

@media screen and (max-width:767px) {
    
/*//////////////Media Querys comunes Header & Footer////////////*/   
header {
    flex-direction: column;
    justify-content:flex-start;
    padding:0;
}
    
.wrap_logo_restaurante {
    margin:0;
}
    
nav {
    justify-content: space-evenly;
}
    
#subnav_carta {
    justify-content: space-evenly;
}
    
nav ul li{
    padding:0;
    margin:0;
}
    
.banderas{
    justify-content: space-evenly;
    align-items: center;
}
    
.bandera img {
    margin-left: 1em;
}
    
.footer {
    flex-direction: column;
}
    
.wrap_logo_euskolabel {
    margin-top: 1em;
    align-self: center;
    order:4;
}
    
.euskolabel {
    flex: 1 0 10em;

}
    
.wrap_texto1_footer  {
    flex: 1 0 auto; 
    text-align: center;
    order:1
}

.wrap_texto2_footer {
    order:2
}


.wrap_rrss_footer {
    flex-direction: row;
    align-self: center;
    order:3;
}

.twitter, .fb, .instagram {
    width: 20%;
}
    
.vuelta_inicio {
    bottom: 0;
    right: 0;
}
/*//////////////Media Querys comunes Header & Footer////////////*/

/*//////////////Media Querys inicio.html//////////////////*/    
#wrapper_inicio{
    flex-direction: column; 
}
    
    
#texto_inicio{
    padding: 0;
    margin: 0;
    margin-top: 8em;
    width: 60%;
}
    
/*//////////////Media Querys inicio.html/////////////////////*/  
    
/*//////////////Media Querys filosofia.html//////////////////*/     
#wrap_huerta, #wrap_pesca {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
    
#titulo1_h2 {
    margin: 0;
}
    
#imagen_huerta {
    flex: 0 0 15em;
    margin: 0;
}
    
#huerta{
    width: 100%;
    margin-top: 2em;
}
    
#wrap_texto_huerta {
    margin: 0;
    margin-top: 2em;
}

#titulo2_h2{
    margin:0;
}

#imagen_puerto {
    flex: 0 0 15em;
    margin: 0;  
}    
#puerto{
    width: 100%;
    margin-top: 2em; 
}
#wrap_texto_pesca {
    order:2;
    margin: 0;
    margin-top: 2em;
}    
/*//////////////Media Querys filosofia.html//////////////////*/    
#visor_restaurante {
    margin-bottom: 5em;
}
    
#wrapper_entorno, #wrapper_platos {
    flex-direction: column;
}
    
.wrapper_deslizador   {
    order: 1;
}
    
#texto_platos {
    order: 2;
}
    
}