@font-face {
    font-family: 'catalogueregular';
    src: url('../fuentes/catalogue-webfont.woff2') format('woff2'),
         url('../fuentes/catalogue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meriendaregular';
    src: url('../fuentes/merienda-regular-webfont.woff2') format('woff2'),
         url('../fuentes/merienda-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'league_spartanthin';
    src: url('../fuentes/leaguespartan-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fuentes/leaguespartan-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

                    /*/////////////////////////////////////////// ESTILOS COMUNES ////////////////////////////////////////////*/
body {
    margin: 0;
}

.wrap_principal {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100vw;
    max-height: 125px;
    background-color: #197783;
    padding: 0;
    position: sticky;
    top: 0;
}

#header_carta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100vw;
    max-height: 125px;
    background-color: #197783;
    padding: 0;
}

.wrap_logo_restaurante {
    padding: 0;
    margin: 0;
    width: 20%
}

#logo_restaurante {
    width: 40%;
    padding: 0.5em 2em;
    margin: 0;
}

.titulo_h1_rest {
    display: flex;
    align-items: center;
    justify-content: center;
}


.titulo_h1_rest h1{
    font-family: 'catalogueregular';
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
    padding: 0.25em;
    font-size: 35px;
    text-align: center;
    width: 35%;
    border: solid 4px #197783;
    border-radius: 15%;
}

main {
    background-color: azure;
}
/* navegador desplegable */

#flecha {
    font-size: 10px;
    vertical-align: top;
}

nav{
    display: flex;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    background-color: #197783; 
    margin: 0;
    padding: 0;
    
    
}

nav li {
    display: inline-block;
    border-radius: 15%;
    margin-left: 20px;
    
}

nav li a {
    display: inline-block;                          
    text-decoration: none;
    color: white;
    font-family: 'league_spartanthin';
    padding: 12px 20px; 
    
}

nav li:hover {
    background-color: #22b78f;
}

.div_desplegable{
    background-color: #197783; 
    box-shadow: 5px 8px 25px 0px rgba(0,0,0, 0.2);
    position: absolute;
    display: none;
    border-radius: 12%;
    
}

.div_desplegable a {
    padding: 9px 15px;
    color: white;
    display: block;
    border-radius: 15%;
}

.div_desplegable a:hover {
    background-color: #22b78f;
}

.li_desplegable:hover .div_desplegable{
    display: block;
    
}

/* navegador desplegable */

/* footer*/

.footer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    background-color: #197783;
    font-family: 'league_spartanthin';
}

.wrap_logo_slowfood {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 0;
    margin: 0;
}

.slowfood {
    width: 70%;   
}

.wrap_texto1_footer  {
   
    
    width: 25%; 
}

.wrap_texto1_footer p{
    padding: 0;
    color: white;
    line-height: 20px; 
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrap_texto2_footer {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap_texto2_footer p{
    text-align: center;
    color: white;
    font-size: 0.95em;
}

.wrap_rrss_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    
}

#twitter, #fb, #instagram {
    padding: 3px;
    width: 10%;
}

.rrss {
    display: flex;
    text-decoration: none;
    color: white;
    padding-left: 3em;
}

.rrss p {
    margin: 0;
    padding-top: 8px;
    padding-left: 5px;
}

/*/////////////////////////////////////////// FIN ESTILOS COMUNES ////////////////////////////////////////////*/

/*//////////////////////////////////////////inicio.html/////////////////////////////////////////*/

#monte {
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/fondo_huerta.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}



section #titulo1_h2 {
    padding: 15px;
    padding-left: 8%;
    margin-top: 3.5em;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-top: ridge 4px #22b78f;
    border-bottom: ridge 4px #22b78f;
    font-family: 'meriendaregular';
}

#wrap_huerta, #wrap_pesca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    height: 85%;
    margin: auto;
}

#imagen_huerta {
    padding: 0px;
    margin: 0px;
    margin-top: 6em;
    width: 60%;   
}

#huerta {
    width: 80%;
    border: ridge 4px #22b78f;
    
}

#wrap_texto_huerta {
    margin-top: 7em;
    background-color: rgba(240, 248, 255, 0.7);
    width: 60%;
    border: ridge 4px #22b78f;
    padding: 15px;
    font-family: 'league_spartanthin';
}

#wrap_texto_huerta p {
    padding: 5px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
#pesca {
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/fondo_puerto.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

section #titulo2_h2 {
    padding: 15px;
    padding-left: 8%;
    margin-top: 3.5em;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-top: ridge 4px #197783;
    border-bottom: ridge 4px #197783;
    font-family: 'meriendaregular';
}

#imagen_puerto {
    padding: 0px;
    margin: 0px;
    margin-top: 6em;
    width: 60%;
    text-align: right;
}

#puerto {
    width: 80%;
    border: ridge 4px #197783;
}

#wrap_texto_pesca {
    margin-top: 7em;
    background-color: rgba(240, 248, 255, 0.7);
    width: 60%;
    border: ridge 4px #197783;
    padding: 15px;
    font-family: 'league_spartanthin';
    
}

#wrap_texto_pesca p{
    padding: 5px;
    color: black;
    font-size: 18px;
    font-weight: bold; 
}

/*//////////////////////////////////////////inicio.html/////////////////////////////////////////*/

/*//////////////////carta.html//////////////////////////*/




